*.txt
!LICENSE.txt
!requirements.txt
./test
!./test/models/test_models.py
!./test/models/test_utility.py
!./test/models/test_models.sh
!./test/utility
*.pyc
*.pyo
*.bak
_*
*.pickle
!__init__.py
!_model.py
